<ActionBar>
	<Label text="Expenses planner"></Label>
</ActionBar>

<GridLayout rows="*,10*,auto">
	<GridLayout row="0" columns="*,*,*,*" class="bold bg-primary">
		<Label text="Name" col="0"></Label>
		<Label text="Category" col="1"></Label>
		<Label text="Sum" col="2"></Label>
		<Label text="Importance" col="3"></Label>
	</GridLayout>
	<ListView [items]="expenses" row="1">
		<ng-template let-expense="item" let-i="index">
			<GridLayout columns="*,*,*,*" rows="auto" (tap)="onItemTap(i)">
				<Label [text]="expense.name" col="0" row="0"></Label>
				<Label [text]="expense.category" col="1" row="0"></Label>
				<Label [text]="expense.sum" col="2" row="0"></Label>
				<Switch
					checked="false"
					(checkedChange)="onCheckedChange($event)"
					col="3"
					row="0"
				></Switch>
			</GridLayout>
		</ng-template>
	</ListView>
	<Button
		text="Add expense point"
		(tap)="onAddExpense()"
		class="-primary"
		row="2"
	></Button>
</GridLayout>
